
#container {
	height: 100%;
	width: 100%;

	position: absolute;

	top: 0;
	left: 0;

	display: flex;
  justify-content: center;
}

#content {align-self: center;}

#content p {text-align: center; font-size: 125%; font-family: Arial;}
